# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\参赛与项目\微信小程序\wx_campus-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
